<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>

<body>
    {% for item in order_items %}
    <li>{{item.league_package.package_name}}</li>
    <li>{{item.league_package.price}}</li>
    <li>{{item.quantity}}</li>
    <a href="{% url 'reduce-from-cart' id=item.league_package.id %}">Reduce Quantity</a>
    <a href="{% url 'remove-from-cart' id=item.league_package.id %}">Remove from Cart</a>
    {% endfor %}
</body>

</html>